{% extends 'index/index.html' %}

{% load static %}

{% block content %}
        <div class="container">
            <table class="table table-bordered">
              <thead class="thead-inverse">
                <tr>
                  <th scope="row">#</th>
                  <th>Picture</th>
                  <th>Name</th>
                  <th>Options</th>
                </tr>
   {% for num in number %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>
                      <img id="img{{ forloop.counter }}" class="img-circle" style="height: 100px" src="media/face_{{ forloop.counter0 }}.jpg"></img>
                  </td>
                  <td>
                      <span class="name"><br><br>

                          <input id="name{{ forloop.counter }}" class="black-text" type="email" name="contact_name" placeholder="Name" class="field" /> <br>
                          <input id="number{{ forloop.counter }}" class="black-text" type="email" name="contact_num" placeholder="Phone Number" class="field" />
                      </span>
                  </td>
                  <td>
                      <a href="#" id="create{{ forloop.counter }}"  onclick="createContact({{ forloop.counter  }})" style="height: 50px;line-height: 50px;vertical-align: middle;"  class="btn">Create</a>
                </td>
                <td>
                    <a href="#" id="update{{ forloop.counter }}" style="height: 50px;line-height: 50px;vertical-align: middle;" class="btn">Update</a>
              </td>
                </tr>

    {% endfor %}

              </thead>
            </table>

            <script src="{% static 'assets/contactupdater.js' %}"></script>

{% endblock %}
